name: Build and Deploy to Sandbox

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Cache Maven dependencies
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}

      - name: Set up JDK 1.8
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 8

      - name: Build and Deploy to CloudHub Sandbox
        run: |
          mvn clean package mule:deploy \
            -DmuleRuntimeVersion=4.11.0 \
            -Danypoint.clientId=${{ secrets.ANYPOINT_CLIENT_ID }} \
            -Danypoint.clientSecret=${{ secrets.ANYPOINT_CLIENT_SECRET }} \
            -Danypoint.environment=Sandbox